.page-content {
    padding-left: 80px;
    padding-right: 80px;

    @media (max-width: 720px) {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    ul, ol {
        margin-left: 16px;
        margin-top: 16px;
        margin-bottom: 16px;
        line-height: 24px;
    }

    ul {
        list-style: disc;
    }
    ol {
        list-style: decimal;
    }

    a {
        color: var(--c-brand);
        text-decoration: underline;
    }
}

a.header-anchor {
    font-size: 0.85em;
    float: left;
    margin-left: -0.87em;
    padding-right: 0.23em;
    margin-top: 0.125em;
    opacity: 0;

    &:hover {
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    &:hover .header-anchor {
        opacity: 1;
    }
}

mark {
    background-color: transparent;
    // text-decoration: underline;
    // text-decoration-color: var(--c-warning);
    // text-decoration-thickness: 2px;
    color: var(--c-warning);
}
