:root {
    // brand colors
    --c-brand: #DC8653;
    --c-brand-light: #e39e75;

    // background colors
    --c-bg: #2E3440;
    --c-bg-light: #3B4252;
    --c-bg-lighter: #434C5E;
    --c-bg-arrow: #4C566A;

    // text colors
    --c-text: #ECEFF4;
    --c-text-light: #E5E9F0;
    --c-text-lighter: #D8DEE9;
    --c-text-quote: #999999;

    // border colors
    --c-border: #4C566A;
    --c-border-dark: #434C5E;

    // custom container colors
    --c-tip: #A3BE8C;
    --c-tip-bg: var(--c-bg-light);
    --c-tip-title: var(--c-text);
    --c-tip-text: var(--c-text);
    --c-tip-text-accent: var(--c-text-accent);
    --c-warning: #EBCB8B;
    --c-warning-bg: #fffae3;
    --c-warning-title: #D08770;
    --c-warning-text: #D08770;
    --c-warning-text-accent: var(--c-text);
    --c-danger: #BF616A;
    --c-danger-bg: #ffe0e0;
    --c-danger-title: #a9444e;
    --c-danger-text: #b84f59;
    --c-danger-text-accent: var(--c-text);
    --c-details-bg: #eeeeee;
}

